.nike-img{
        width: 60px;
        text-align: top;
        position: relative;
        top:40px;
        left:25px
}
 .cart-img{
    
    position: relative;
    float:left;
    height:40px;
    left:70px;
    bottom:38px;


} 

.poster-img{

  /* width:95%;
  height:450px; */
  /* width:100%;
  height:400px; */
   width:100%;
  height:600px;
  background-size:100% 100%;
  display:flex
  
  
}
#filter{
  height:25px;
  width:25px;
  position: relative;
  float:left;
  left:10px
}

div{
    text-align: top;
    
  
}


#special{
    text-align: top;
}
.men{
    background-color:white; /* Green */
    
    color: #1F456E;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:20px;
    cursor: pointer;
    float: left;
    position:relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.6;

    width:14%;
    
}
.men2{
  background-color:white; /* Green */
  
  color: #1F456E;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:20px;
  cursor: pointer;
  float: left;
  position:relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

  width:14%;
  
}
.men:hover {opacity: 1}
.men:active {
    background-color:white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);}

.buttond{
    background-color:white; /* Green */
    
    color: #1F456E;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:20px;
    float: left;
    position:relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: not-allowed;
    opacity: 0.6;

    width:14%;
    
   
}

.disable{
  cursor: not-allowed;

}

.disable2{
    cursor: not-allowed;
    border-radius: 15px;
    text-decoration: none;
    background-color: #1F456E;
    font-size:15px;
    padding: 7px 15px;
    color: white;
    align-items: right;
    float:right;
    position: relative;
    right:80px;
    border:none;
    top:15px
  }
  .login{
    cursor: not-allowed;
    background-color: white;
    align-items: right;
    border:none;
    text-decoration: none;
    float:right;
    position: relative;
    right:100px;
    top: 22px
  }
   .cart{
    cursor: not-allowed;
    float:right;
    position: relative;
    right:90px;
    text-decoration: none;
    border:none;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#1F456E;

  } 
  .search{
    float:right;
    position: relative;
    /*background-color: white;
    color:grey;*/
    
    right:500px;
    padding: 5px 100px;
    border-radius: 15px;
  }
  #search-image img {
    /* padding: 0.5px 5px; */
    display:block;
    /* height: 10px;  
    width: 30px; */
    top:0px;
    left:1px; 
    height:30px;
    width:47px;
    
    
}
#search-image{
    float:right;
    position: relative;
    right:120px;
    vertical-align: middle;
    height:30px;
    width:70px;
    border-radius: 15px;
    
    background-color:rgb(201, 188, 188);

}
#search-image:hover{
    background-color:#1F456E;
    border:#1F456E;
    
    
}
/* #close-CSS {
    background-image: url ("https://cdn-icons-png.flaticon.com/512/61/61088.png" );
    background-size: 100px 130px;
    height: 134px;  
    width: 104px;
} */

#container {
   position: relative; 
  text-align: center;
  color:rgb(51, 48, 48);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

  
}
.img-text {
  position: absolute;
  bottom: 40px;
  left: 16px;
  font-size:40px;
 }
#container .poster-btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:rgb(51, 48, 48);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  
 
  
  
} 

#container .poster-btn:hover {
  background-color: white;
  color:black;
  text-decoration: none;
  
}
#sizefilter{
  width:70px;
  height:35px;
  position: absolute;
  left:60px;
}
#colorfilter{
  width:70px;
  height:35px;
  position: absolute;
  left:60px;
}
#pricefilter{
  width:70px;
  height:35px;
  position: absolute;
  left:60px;
  
}
#fitfilter{
  width:70px;
  height:35px;
  position: absolute;
  left:60px;
 
}



.column {
  float: right;
  width: 20%;
  padding: 5px;
  position:relative;
  bottom: 225px;
  left:180px
}

.mainimg{
  display: flex;
  float:right;
} 
/* Clear floats after image containers */
.mainimg::after {
  content: "";
  clear: both;
  display: table;
}
p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.column:hover{
  width:300px;
  
  color:#1F456E;
}
.price{
  float:inline-end;
  background-color:#f1f0f0;
  width:40px;
  
  text-align: center;
  font-family: 'Segoe UI';

}


input[type=submit] {
  background-color: rgb(51, 48, 48) ;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  
}
input[type=submit]:hover {
  opacity: 0.8;
}
.txt{
  float:inline-end;
  position: relative;


  
}
#subject {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  
  
  resize: vertical;
}




body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* ---------------phone----------------------- */
  @media (max-width: 426px) {
    .cart{
        cursor: not-allowed;
        float:right;
        position: relative;
        left:70px;
        text-decoration: none;
        border:none;
        background-color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:#1F456E;
    
      
    }
      .buttond{
        padding: 10px 3px;
        font-size: 16px;
         text-align:right; 
        left:32px;
        
      } 
      .men{
        left:18px;
        font-size: 16px;
      }
      .men2{
        left:10px;
        font-size: 16px;
      }
      .poster-img{

        width:120%;
        height:300px;
        /* background-size:100% 100%; */
        display:flex
    }
    .login{
      cursor: not-allowed;
      background-color: white;
      align-items: right;
      border:none;
      text-decoration: none;
      float:right;
      position: relative;
      left:-10px;
      top: 20px
    }
    .disable2{
      cursor: not-allowed;
      border-radius: 15px;
      text-decoration: none;
      background-color: #1F456E;
      font-size:13px;
      padding: 5px 10px;
      color: white; 
      align-items: right;
      float:right;
      position: relative;
      left:0px;
      border:none;
      top:15px
    }
    /* .search{
      float:right;
      position: relative;
     
      
      right:400px;
      padding: 5px 100px;
      border-radius: 15px;
    } */
    #search-image img {
      /* padding: 0.5px 5px; */
      display:block;
      /* height: 10px;  
      width: 30px; */
      top:0px;
      left:1px; 
      height:30px;
      width:47px;
      
      
  }
  #search-image{
      float:right;
      position: relative;
      left:0px;
      vertical-align: middle;
      height:30px;
      width:70px;
      border-radius: 15px;
      top:55PX;
      
      background-color:rgb(201, 188, 188);
  
  }
  .nike-img{
    width: 60px;
    text-align:center;
    position: relative;
    top:5px;
    left:40%
  }
  #sizefilter{
    display:none
  }
  #colorfilter{
    display:none
  }
  #pricefilter{
    display:none
    
  }
  #fitfilter{
    display:none
   
  }
  #filter{
    display:none
  }
  #container .poster-btn {
  position: absolute;
  top: 90%;
  left: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:rgb(51, 48, 48);
  color: white;
  font-size: 13px;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  }
  .img-text{
    position: absolute;
    bottom: 15px;
    left: 10px;
    font-size:15px;
  }
  .column {
   
    /* width: 100%;
    padding: 10px;
     */
     
     flex-direction: row;
     float: right;
     width: 40%;
     
     position:relative;
    
     
 
    
  }
  
.mainimg{
  display: flex;
  
  flex-wrap: wrap;
  /* float:inline-start; */
  flex-direction: row;
  position:relative;
  right:120px;
  
}  
input[type=submit] {
  display:none;
  
}

.txt{
display:none;

  
}





.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  display:none
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  display:none
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  display:none
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  display:none
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  display:none
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  display:none
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
  display:none
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
  display:none
  }
}

/* ---------------- */
