img{
        width: 60px;
        text-align: top;
        position: relative;
        top:20px;
        left:30px
}
.cart-img{
    text-align: top;
    position: relative;
    float:left;
    height:40px;
    left:800px;
    top:0px;


}
div{
    text-align: top;
}


#special{
    text-align: top;
}
.button{
    background-color:white; /* Green */
    border: 1px solid grey;
    color: #1F456E;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:20px;
    cursor: pointer;
    float: left;
    position:relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.6;

    
    
    
    
}
.button:hover {opacity: 1}
.button:active {
    background-color:white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);}

.buttond{
    background-color:white; /* Green */
    border: 1px solid grey;
    color: #1F456E;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:20px;
    float: left;
    position:relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: not-allowed;
    opacity: 0.6;

    
    
   
}

.disable{
  cursor: not-allowed;

}

.disable2{
    cursor: not-allowed;
    border-radius: 15px;
    text-decoration: none;
    background-color: #1F456E;
    font-size:15px;
    padding: 7px 15px;
    color: white;
    align-items: right;
    float:right;
    position: relative;
    right:80px;
    border:none;
    top:15px
  }
  .login{
    cursor: not-allowed;
    background-color: white;
    align-items: right;
    border:none;
    text-decoration: none;
    float:right;
    position: relative;
    right:100px;
    top: 22px
  }
  .cart{
    cursor: not-allowed;
    float:right;
    position: relative;
    right:90px;
    text-decoration: none;
    border:none;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#1F456E;

  }
  .search{
    float:right;
    position: relative;
    /*background-color: white;
    color:grey;*/
    
    right:500px;
    padding: 5px 100px;
    border-radius: 15px;
  }
  #close-image img {
    /* padding: 0.5px 5px; */
    display:block;
    /* height: 10px;  
    width: 30px; */
    top:0px;
    left:1px;
    height:29px;
    
}
#close-image{
    float:right;
    position: relative;
    right:120px;
    vertical-align: middle;
    height:30px;
    width:70px;
    border-radius: 15px;
    
    background-color:rgb(201, 188, 188);

}
#close-image:hover{
    background-color:#1F456E;
    border:#1F456E;
    
    
}
/* #close-CSS {
    background-image: url ("https://cdn-icons-png.flaticon.com/512/61/61088.png" );
    background-size: 100px 130px;
    height: 134px;  
    width: 104px;
} */