.topnav {
    overflow: hidden;
    background-color: white;
  }

  .topnav a {
    float: left;
    color:#1F456E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    width: 14%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


  }
  .inactive{
    opacity: 0.6;
  }
  .active{
    opacity: 1 !important;

  }
.topnav a.active:hover {

    transform: translateY(4px);

  }

  .topnav a.active {
    background-color:white;
    color:#1F456E;
    box-shadow: 0 5px #666;

  }
  .topnav a.active2 {
    background-color:white;
    color:#1F456E;
    opacity: 0.6;
    /* box-shadow: 0 5px #666; */

  }
  .nike-img2{
    width: 60px;
    text-align: top;
    position: relative;
    opacity: 1 !important;
    left:4px;
  }









  .column {
    float: right;
    width: 20%;
    padding: 5px;
    position:relative;
    bottom:-30px;

  }

  /* Clear floats after image containers */
  .mainimg::after {
    content: "";
    clear: both;
    display: table;
  }


  .column:hover{
    width:21%;

    color:#1F456E;
  }






  #cat{
    font-size: 20px;
    color: #1F456E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
  }
  #cat:hover{

    color:rgb(185, 181, 181)
  }
  #subcat{
    color: #1F456E;

  }
  .side-filter{
    float:left;
    left:30px;
    position:relative;
    
  }



  .column2 {
    float:left;
    width: 20%;
    padding: 5px;
    position:relative;
    left:142px;
    bottom:-30px;

  }

  /* Clear floats after image containers */
  .mainimg2::after {
    content: "";
    clear: both;
    display: table;
  }


  .column2:hover{
    width:21%;

    color:#1F456E;
  }

  #cat-click{
    font-size: 20px;
    color: #1F456E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.5;

  }
  #subcat-click{
    color: #1F456E;
    opacity: 0.5;
  }
  #cat2{
    display: none;
  }
  #cat2c{
    display:none;
  }

  /* ------java----------------- */
  @media (max-width:  426px) {
    .nike-img2{
      width: 60px;
      text-align:center;
      position: relative;
      top:5px;
      left:40%
    }

  .inactive{
      padding: 15px 7px;
      font-size: 10px;
      text-align:end;
      left:32px;
      top:110px;
    }

    .active{
      padding: 15px 7px;
      font-size: 10px;
      text-align:end;
      left:32px;
      top:110px;

    }
    .topnav{
      height:100px;

      /* 100 */
    }
    .topnav a {
      float: left;
      color:#1F456E;
      text-align: center;
      padding: 17px 4.6px;
      text-decoration: none;
      font-size: 14px;
      width: 14%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      position: relative;
      top:25px;
      z-index:6;

    }
    .topnav2{
       overflow:hidden; 
      background-color: white;
      float:right;
      position: relative;
      right:70px;
      
    }
    .topnav2 a{
      width:14%;

    }
    #cat2{
      position: relative;
      top:10px;
       display:contents;
      

      color:#1F456E;
      text-align: center;
      padding: 17px 4.6px;
      text-decoration: none;
      font-size: 14px;
      width: 14%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      

    }
    #cat2c{
      position: relative;
      top:10px;
       display:contents;
      

      color:rgb(123, 159, 193);
      text-align: center;
      padding: 17px 4.6px;
      text-decoration: none;
      font-size: 14px;
      width: 14%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
      

    }
    /* ------end of heading---------- */

    .column {

      width:45%;
      flex-direction:row;
      position:relative;
      top:70px;
      left:5%;

    }
    .mainimg{
      display:flex;
      flex-wrap: wrap;
    }
    /* Clear floats after image containers */
    .mainimg::after {
      content: "";
      clear: both;
      display: table;
    }
    .empty{
      height:1px;
    }
#cat{
  display:none;
}
#subcat{
  display:none
}
#cat-click{
  display:none;
}
#subcat-click{
  display:none;
}
.column2 {

  width:45%;
  flex-direction:row;
  position:relative;
  top:70px; 
  left:5%;
  
}
.mainimg2{
  display:flex;
  flex-wrap: wrap;
}
/* Clear floats after image containers */
.mainimg2::after {
  content: "";
  clear: both;
  display: table;
}
.column:hover{
  display:none;
}
.column2:hover{
  display:none;
}
  }

  @media (min-width:  2559px) {

    .column2 {
      float:left;
      width: 20%;
      padding: 5px;
      position:relative;
      left:350px;
      bottom:-30px;
      
    }
    .posterimg{
      width:100%;
      height:150%;
      position:absolute;  /*image side by side*/
      
      float:right;
    z-index: -1;
      /* display:none; */
      
  }
  .column {
      float: right;
      width: 20%;
      padding: 5px;
      position:relative;
      /* bottom:-30px; */
      top:330px;
      
    }
  
    .column2 {
      float:left;
      width: 20%;
      padding: 5px;
      position:relative;
      left:200px;
      /* bottom:-70px; */
      top:400px
      
    } 
    #cat{
      font-size: 50px;
      color: #1F456E;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-decoration: none;
      position: relative;
      /* top:280px */
    }
    #subcat{
      color: #1F456E;
    font-size: 40px;
    position: relative;
    /* top:280px */
    }
    #cat-click{
      font-size: 50px;
      color: #1F456E;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      opacity: 0.5;
  
    }
    #subcat-click{
      color: #1F456E;
      opacity: 0.5;
      font-size: 40px;
    }
  
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 30%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 40px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
  
    .dot {
     display:none
    }
    
    .active:hover {
      background-color: #717171;
      
    }
  
  }
  @media (min-width:767px) and (max-width:768px) {

    .column {

      width:20%;
      flex-direction:row;
      position:relative;
      top:70px;
      left:15%;
      height:250px;

    }
    
    .column2 {

      width:20%;
      flex-direction:row;
      position:relative;
      top:70px; 
      left:15%;
      
    }
    }

    @media (min-width:1023px) and (max-width:1024px) {
      .column {

        width:20%;
        flex-direction:row;
        position:relative;
        top:70px;
        left:2%;
        height:300px;
  
      }
      .column2 {

        width:20%;
        flex-direction:row;
        position:relative;
        top:70px; 
        left:7%;
        
      }
    }