.topnav {
    overflow: hidden;
    background-color: white;
  }
  
  .topnav a {
    float: left;
    color:#1F456E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    width: 14%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
  }
  .inactive{
    opacity: 0.6;
  }
  .active{
    opacity: 1 !important;
    
  }
.topnav a.active:hover {
    
    transform: translateY(4px);
    
  } 
  
  .topnav a.active {
    background-color:white;
    color:#1F456E;
    box-shadow: 0 5px #666;
    
  }
  .nike-img2{
    width: 60px;
    text-align: top;
    position: relative;
    opacity: 1 !important;
    left:4px;
  }









  .column {
    float: right;
    width: 20%;
    padding: 5px;
    position:relative;
    bottom:-30px;
    
  }
  
  /* Clear floats after image containers */
  .mainimg::after {
    content: "";
    clear: both;
    display: table;
  }

  
  .column:hover{
    width:310px;
    
    color:#1F456E;
  }






  #cat{
    font-size: 20px;
    color: #1F456E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
  }
  #cat:hover{
    
    color:rgb(185, 181, 181)
  }
  #subcat{
    color: #1F456E;

  }
  .side-filter{
    float:left;
    left:30px;
    position:relative;
  }
  

   
  .column2 {
    float:left;
    width: 20%;
    padding: 5px;
    position:relative;
    left:142px;
    bottom:-30px;
    
  }
  
  /* Clear floats after image containers */
  .mainimg2::after {
    content: "";
    clear: both;
    display: table;
  }

  
  .column2:hover{
    width:310px;
    
    color:#1F456E;
  }

  #cat-click{
    font-size: 20px;
    color: #1F456E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.5;

  }
  #subcat-click{
    color: #1F456E;
    opacity: 0.5;
  }